<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogt</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <div class="container">
       <h1 class=""> <%= article.title %> </h1>
       <div class="text-muted mb-2"> 
           <%= article.createdAt.toLocaleDateString() %>
       </div>
       <a href="/" class="btn-2">All article</a>
       <a href="/articles/edit/<%= article.id %>">
         Edit
       </a>
      <div>
           <%- article.markdown %> <!-- article.markdown -->
      </div>
       
    </div>
</body>

</html>